<div class="profile-container">
    <%# <%= current_user.photo %>
    <img class="avatar-large" src="https://static.lpnt.fr/images/2019/01/16/17942477lpw-17942549-article-jpg_5886015_660x287.jpg">

    <p class="profile-info">
    <%= @current_user.email %>
    </p>
</div>