<div class="profile-container">
    <%# <%= current_user.photo %>
    <img class="avatar-large" src="<%= current_user.photo %>">
    <p class="profile-info">
    <%= @current_user.email %>
    </p>
</div>