<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= cl_image_tag("https://res.cloudinary.com/ddk5g0o9g/image/upload/v1636737547/25bc0en2a01vh8959zrg2e02twiu.png",
      width: 400, height: 300, crop: :fill) %>
