<div class="banner-login" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://stocktonpropeller.com/wp-content/uploads/2020/06/What-Type-of-License-Do-you-Need-to-Fly-a-Twin-Blade-Propeller-Plane-1-resized.jpg);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <%= link_to "Sign-up",  new_user_registration_path , class: "btn-signup"%>
    <%= link_to "login",  new_user_registration_path , class: "btn-login"%>


  </div>
</div>