.mule-info-card {
  overflow: hidden;
  background-color: #30292F;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 35rem;
}

.mule-info-card > img {
  height: 150px;

  object-fit: cover;
}

.mule-info-card h2 {
  font-family: 'Staatliches', cursive;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  color: #EFF6EE;
  letter-spacing: 2px;
}

.mule-info-card p {
  font-family: 'Passion One', cursive;
  letter-spacing: 2px;
  font-size: 2rem;
  opacity: .8;
  margin: 0;
  color: #EFF6EE;
  font-weight: lighter;
}


.mule-info-card .mule-profile-infos {
  padding: 24px;
  display: flex;
  align-items: center;
}

.mule-profile-infos .card-mule-user {
  width: 180px;
  object-fit: cover;
  height: 180px;
}

.mule-info-card .mule-profile-description {

  background: #6B818C;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 20rem;
}

.mule-profile-infos .mule-details {
  margin-left: 40px;
}
