// <div class="navbar-lewagon">
//     <img class="navbar-brand" src="#">
//     <%= link_to "Login", new_user_session_path %>
// </div>


.navbar-lewagon {
  justify-content: space-between;
  background: #223843;
  color: #EFF1F3;
  margin-top: 0;
  padding-top: 3rem;
  position: fixed;
  width: 100%;

  a {
    color: #EFF1F3;
    text-decoration: none;
    position: absolute;
    top: 0.6rem;
    right: 1rem;
    // font-weight: bold;
    font-size: 1.2rem;
  }
  
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-brand{
  margin: 0;
  position: absolute;
  bottom: 0.6rem;
  left: 1rem;
}

.see-through {
  background-color: rgba(0,0,0,0);
}


.navbar-lewagon .avatar{
  position: absolute;
  top: -0.2rem;
  right: 6rem;
}