
.offer-form {
  overflow: hidden;
  background-color: #30292F;
}

.offer-form h2 {
  font-family: 'Staatliches', cursive;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  color: #6a7669;
  letter-spacing: 2px;
}

.offer-form .fas {
  color: #EFF6EE;
  margin-right: 6px;
  font-size: 2rem;
}

.offer-form .btn {
  background-color: #F02D3A !important;
  border: none !important;
  color: #EFF6EE;
  font-family: 'Passion One', cursive;
  letter-spacing: 1px;
}
