.profile-container {
    margin: 0 auto;
    padding-top: 4rem;
    width: 70rem;
    display: flex;
}

.profile-info {
    margin: 0 4rem;
    padding: 2rem;
    width: 45rem;
    background-color: #DBD3D8;
}
